<%= form_for(admin_cashdesks_controller) do |f| %>
  <% if admin_cashdesks_controller.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_cashdesks_controller.errors.count, "error") %> prohibited this admin_cashdesks_controller from being saved:</h2>

      <ul>
      <% admin_cashdesks_controller.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
